{% extends 'base.html' %}
{% block title %}{{ user.first_name }} {{ user.last_name }} | Profile{% endblock %}
{% load custome_filters %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="bg-white text-black p-3 rounded text-center mx-auto" style="max-width: 400px;">
                <div class="avatar-wrapper mb-3 d-flex justify-content-center">
                    {% if user.profile.profile_picture_url %}
                        <img src="{{ user.profile.profile_picture_url }}" class="img-fluid rounded-circle">
                    {% else %}
                        <span class="text-muted">No Image</span>
                    {% endif %}
                </div>                
                <h4 class="mb-4">{{ user.first_name }} {{ user.last_name }}</h4>
                <ul class="list-group">
                    <li class="list-group-item bg-white d-flex align-items-center">
                        <a href="#profileCard" class="text-black d-flex align-items-center">
                            <i class="fas fa-user blink-icon"></i>
                            <span class="ml-2 menu-item">PROFILE</span>
                        </a>
                    </li>
                    <li class="list-group-item bg-white d-flex align-items-center">
                        <a href="#CourseCard" class="text-black d-flex align-items-center">
                            <i class="fas fa-book blink-icon"></i>
                            <span class="ml-2 menu-item">COURSES</span>
                        </a>
                    </li>
                    {% if is_student %}
                        <li class="list-group-item bg-white d-flex align-items-center">
                            <a href="#quizResultsCard" class="text-black d-flex align-items-center">
                                <i class="fas fa-pencil-alt blink-icon"></i>
                                <span class="ml-2 menu-item">QUIZ RESULTS</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="list-group-item bg-white d-flex align-items-center">
                        <a href="#activityLogCard" class="text-black d-flex align-items-center">
                            <i class="fas fa-history blink-icon"></i>
                            <span class="ml-2 menu-item">ACTIVITY LOG</span>
                        </a>
                    </li>
                    </li>
                    <!-- Thêm mục Edit Profile ở đây -->
                    <li class="list-group-item bg-white d-flex align-items-center">
                        <a href="#editPasswordCard" class="text-black d-flex align-items-center" onclick="togglePasswordForm(event)">
                            <i class="fas fa-edit blink-icon"></i>
                            <span class="ml-2 menu-item">EDIT PROFILE</span>
                        </a>
                    </li> 
                </ul>
            </div>
        </div>        
         
        <div class="col-md-9">
            <div class="card mb-4" id="profileCard">
                <div class="card-header bg-white text-black text-center">
                    <strong>Profile</strong>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-4"><strong>ID:</strong> 
                            {% if is_student %} 
                                {{ student_code }} 
                            {% else %} 
                                {{ user.id }} 
                            {% endif %}
                        </div>
                        <div class="col-4"><strong>Username:</strong> {{ user.username }}</div>
                        <div class="col-4"><strong>Role:</strong> {{ user.profile.role.role_name|default:"N/A" }}</div>
                    </div>
        
                    <div class="row mb-2">
                        <div class="col-12"><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</div>
                    </div>
        
                    <div class="row mb-2">
                        <div class="col-12"><strong>Email:</strong> {{ user.email }}</div>
                    </div>
        
                    <div class="row mb-2">
                        <div class="col-12"><strong>Bio:</strong> {{ user.profile.bio|default:"N/A" }}</div>
                    </div>
        
                    <div class="row mb-2">
                        <div class="col-12"><strong>Interests:</strong> {{ user.profile.interests|default:"N/A" }}</div>
                    </div>
                </div>
            </div>

            <div class="card mb-4" id="CourseCard">
                <div class="card-header bg-white text-black text-center">
                    <strong>Courses Enrolled</strong>
                </div>
                <div class="card-body">
                    {% if enrollments %}
                        <ul class="list-group">
                            {% for enrollment in enrollments %}
                                <li class="list-group-item">
                                    <strong>{{ enrollment.course.name }}</strong> - 
                                    Enrollment Date: {{ enrollment.date_enrolled|date:"H:i d-m-Y" }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">No courses enrolled.</p>
                    {% endif %}
                </div>
            </div>

            {% if is_student %}
                <div class="card mb-4" id="quizResultsCard">
                    <div class="card-header bg-white text-black text-center">
                        <strong>Quiz Results</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Quiz Title</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attempt in quiz_results %}
                                <tr>
                                    <td>{{ attempt.quiz.quiz_title }}</td>
                                    <td>{{ attempt.score }} / {{ attempt.quiz.total_marks }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No quiz attempts found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            <div class="card mb-4" id="activityLogCard">
                <div class="card-header bg-white text-black text-center">
                    <strong>User Activity Log</strong>
                </div>
                <div class="card-body">
                    <table class="table table-striped w-100">
                        <thead>
                            <tr>
                                <th>Activity Type</th>
                                <th>Details</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in activity_logs %}
                                <tr>
                                    <td>{{ log.get_activity_type_display }}</td>
                                    <td>{{ log.activity_details }}</td>
                                    <td>{{ log.activity_timestamp }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">No activity records found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Nút Edit Password nằm ở đây -->
            <div class="card mb-4" id="editPasswordCard">
                <div class="card-header bg-white text-black d-flex justify-content-between align-items-center">
                    <strong>Edit Profile</strong>
                </div>
                <div class="card-body">
                    <div id="password-form" style="display: none;">
                        <form method="POST" action="{% url 'user:user_edit_password' user.pk %}" class="d-flex align-items-center">
                            {% csrf_token %}
                            <input type="password" class="form-control me-2" id="old_password" name="old_password" placeholder="Enter your password to proceed to the edit profile page" required>
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script>
    function togglePasswordForm(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>
        var form = document.getElementById('password-form');
        form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
    
        // Cuộn đến phần Edit Profile
        document.getElementById('editPasswordCard').scrollIntoView({ behavior: 'smooth' });
    }
</script>



{% endblock %}