{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'course/course.css' %}">
</head>
<body id="course-list">
<div class="full-width-container bg-white p-6">
    <h1 class="text-2xl font-bold mb-6 main-color-text">Courses</h1>
    <div class="flex justify-between items-center mb-6">
        <!-- Search Form -->
        <div class="search-container">
            <form method="GET" action="{% url 'course:course_search' %}" class="form-inline">
                <input type="text" name="query" class="search-input p-2 border border-gray-300 rounded" placeholder="Search...">
                <button type="submit" class="btn main-color px-4 py-2 rounded ml-2">Search</button>
            </form>
            <div>
                {% if is_instructor or user.is_superuser %}
                    <a href="{% url 'course:course_add' %}" class="btn main-color px-4 py-2 rounded ml-2">Add New Course</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="course-grid mb-6">
        {% for course in page_obj %}
        <div class="course-card bg-white p-4 rounded-lg shadow-md border border-gray-200">
            <div class="course-card-body">
                <div class="course-image-container">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.course_name }}" class="course-image">
                    {% else %}
                        <img src="{% static 'default_course_image.jpg' %}" alt="Default Image" class="course-image">
                    {% endif %}
                </div>
                <div class="course-details">
                    <h2 class="text-xl font-bold mb-2 main-color-text">{{ course.course_name }}</h2>
                    <p class="text-gray-700 mb-4">{{ course.description|truncatewords:20 }}</p>
                    {% if not is_instructor %}
                        <div class="relative pt-1 mb-4">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
                                <div style="width: {{ course.completion_percent }}%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center main-color"></div>
                            </div>
                            <span class="absolute top-0 left-0 text-xs font-semibold main-color-text">{{ course.completion_percent }}%</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="course-card-footer flex justify-between items-center">
                <a href="{% url 'course:course_detail' course.id %}" class="btn main-color btn-sm" title="View Details">
                    <i class="fas fa-eye"></i>
                </a>
                {% if user.is_superuser or course.instructor == user %}
                    <a href="{% url 'course:course_edit' course.id %}" class="btn btn-warning btn-sm mr-2" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'course:course_delete' course.id %}" class="btn btn-danger btn-sm" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="col-span-3 text-center py-4">
            No courses found.
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation" class="mb-6">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link main-color-text" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link main-color-text" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link main-color">{{ num }}</a></li>
                {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <li class="page-item"><a class="page-link main-color-text" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link main-color-text" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link main-color-text" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if not is_instructor %}
        <h3 class="text-xl font-semibold mb-4 main-color-text">Recommended Courses</h3>
        <div id="recommendedCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                {% if recommended_courses %}
                    {% for course in recommended_courses %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="row">
                        {% endif %}
                                    <div class="col-md-4 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                {% if course.image %}
                                                    <img src="{{ course.image.url }}" alt="{{ course.course_name }}" class="course-image">
                                                {% else %}
                                                    <img src="{% static 'default_course_image.jpg' %}" alt="Default Image" class="course-image">
                                                {% endif %}
                                                <a href="{% url 'course:course_detail' course.id %}" class="card-link">
                                                <h5 class="card-title">{{ course.course_name }}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Code: {{ course.course_code }}</h6>
                                                <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-12">
                                <p>No recommendations available at this time.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <a class="carousel-control-prev" href="#recommendedCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recommendedCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% endif %}
</div>
</body>
{% endblock %}
