{% extends "base.html" %}

{% block title %}Assignment List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Assignment List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Assignment Id</th>
                <th>Assignment Name </th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.assignment_id }}</td>
                <td>{{ assignment.assignment_name}}</td>
                <td>{{ assignment.start_date }}</td>
                <td>{{ assignment.end_date }}</td>
                
                <td><i class="{{ module.icon }}"></i></td>
                <td>
                    <a href="{% url 'assignment:assignment_detail' assignment.pk %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'assignment:assignment_edit' assignment.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'assignment:assignment_delete' assignment.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'assignment:assignment_add' %}" class="btn btn-primary">Add New Assignment</a>
</div>
{% endblock %}
