{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Content for {{ course.course_name }}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'course/course.css' %}">
</head>
<body id="content-edit">
<div class="content-wrapper">
    <h1 style=" text-transform: uppercase; margin: 0; color: black; margin-bottom: 20px;  ">Edit Content for {{ course.course_name }}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="sub-navbar" style="background-color: #389bb0; padding: 3px; border-radius: 10px;">
            {% for session in sessions %}
                <button type="submit" name="session_id" value="{{ session.id }}" class="btn"
                    style="background-color: transparent;
                           color: {% if session.id == selected_session.id %} #FFD700 {% else %} white {% endif %};
                           border: none;
                           margin-right: 10px;
                           font-size: 16px;
                           font-weight: bold;
                           padding: 10px 15px;">
                    {{ session.name }}
                </button>
            {% endfor %}
        </div>
        <div style="display: flex; margin-top: 20px;">
            <div style="flex: 2; margin-right: 20px;">
                <h2 style="margin: 0;  font-size: 27px; margin-bottom: 8px; ">Add New Content</h2>
                <div id="reading-materials"></div>
                <button type="button" id="add-reading-material" class="btn btn-secondary" style="margin-bottom: 20px; ">Add New Material</button>

                <h3 style="margin: 0; font-size: 27px; margin-bottom: 8px;">Upload PDF Content</h3>
                <div id="pdf-upload">
                    <input type="file" name="uploaded_material_file[]" class="form-control" accept="application/pdf" style="margin-bottom: 8px;" multiple>
                    <select name="uploaded_material_type[]" class="form-control">
                        <option value="" disabled selected>Select Material Type</option>
                        {% for key, value in material_types.items %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="display: flex; align-items: center; margin-top: 30px;">
                    <button type="submit" class="btn btn-primary" style="background-color: #389bb0; height: 40px; display: flex; align-items: center; justify-content: center; padding: 0 20px; margin-right: 10px;">
                        Save
                    </button>
                    <a href="{% url 'course:course_edit' course.id %}" class="btn btn-warning" style="background-color: #6c757d; color: white; height: 40px; display: flex; align-items: center; justify-content: center; padding: 0 20px;">
                        Back to Course Edit
                    </a>
                </div>
            </div>

            <div style="flex: 1; max-width: 500px;">
                <h2 style="margin: 0; font-size: 27px; margin-bottom: 8px;">Material</h2>
                <div style="background-color: #eaecee; padding: 15px; border-radius: 5px; min-height: 200px;"> <!-- Set a minimum height here -->
                    <ul style="list-style-type: none; padding: 0; margin: 0;">
                        {% for reading_material in reading_materials %}
                            <li style="display: flex; align-items: center; margin-bottom: 12px;">
                                <a href="{% url 'course:reading_material_detail' reading_material.id %}" target="_blank" style="font-size: 1em; flex-grow: 1;">{{ reading_material.title }}</a>
                                <span style="margin-left: 10px; font-style: italic;">({{ reading_material.material.material_type|capfirst }})</span>
                                <a href="{% url 'course:edit_reading_material' course.pk selected_session.id reading_material.id %}"
                                class="btn btn-warning"
                                style="margin-left: 10px; padding: 5px 10px; font-size: 14px; line-height: 1;">Edit</a>

                                <input type="checkbox" name="delete_reading_material_{{ reading_material.id }}" style="margin-left: 10px;"> Delete
                            </li>
                        {% empty %}
                            <li>No materials available.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
<script>
    let readingMaterialCounter = 1;

    function addRMEntry() {
        const container = document.getElementById('reading-materials');
        const newEntry = document.createElement('div');
        newEntry.className = 'reading-material-entry';
        newEntry.innerHTML = `
            <input type="text" name="reading_material_title[]" class="form-control" placeholder="Reading Material Title">
            <textarea name="reading_material_content[]" class="form-control ckeditor"></textarea>
            <select name="reading_material_type[]" class="form-control">
                <option value="" disabled selected>Select Material Type</option>
                {% for key, value in material_types.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-danger delete-reading-material" style="margin-left: 10px;">Delete</button>
        `;
        container.appendChild(newEntry);

        const newTextarea = newEntry.querySelector('textarea');
        initializeCKEditor(newTextarea);
        attachDeleteButton(newEntry.querySelector('.delete-reading-material'));
        readingMaterialCounter++;
    }

    function initializeCKEditor(textarea) {
        CKEDITOR.replace(textarea, {
            height: 300,
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        initializeCKEditor(document.querySelector('.ckeditor'));

        document.getElementById('add-reading-material').addEventListener('click', addRMEntry);

        document.querySelectorAll('.delete-reading-material').forEach(button => {
            attachDeleteButton(button);
        });
    });

    function attachDeleteButton(button) {
        button.addEventListener('click', function() {
            const entry = this.parentNode;
            entry.parentNode.removeChild(entry);
        });
    }
</script>
</body>
{% endblock %}
