<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Learning Management System{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block extra_css %}{% endblock %}
 
</head> 
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main:home' %}">FSA</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated and user.is_superuser %}
                {% for group in module_groups %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="{{ group.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ group.group_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="{{ group.id }}">
                            {% for module in group.modules.all %}
                                
                                    <a class="dropdown-item" href="{% url module.module_url %}"> <i class="{{ module.icon }}"></i> &nbsp;{{ module.module_name }}</a>
                                    <!-- {% if module in user.modules.all %}
                                    {% endif %} -->
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}

                
            </ul>
            
                {% endif %}
                <div class="dropdown-divider"></div>
                {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                        <i class="fas fa-user-shield"></i> Admin Django &nbsp;&nbsp;&nbsp;|
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if request.user.profile.profile_picture_url %}
                        <img src="{{ request.user.profile.profile_picture_url }}" alt="Profile Picture" class="rounded-circle" width="30" height="30" style="margin-right: 5px;">
                        {% endif %}
                        {{ request.user.get_full_name|default:request.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user:user_detail' request.user.id %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <form action="{% url 'main:logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'main:register_email' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'main:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Tìm tất cả các phần tử dropdown-item
            const dropdownItems = document.querySelectorAll('.dropdown-item');
            
            dropdownItems.forEach(function(item) {
                // Kiểm tra nếu nội dung của phần tử là "Logout"
                if (item.textContent.trim() === "Logout") {
                    item.addEventListener("click", function(event) {
                        event.preventDefault();
                        fetch("{% url 'main:logout' %}", {
                            method: "POST",
                            headers: {
                                "X-CSRFToken": "{{ csrf_token }}"
                            }
                        }).then(response => {
                            if (response.ok) {
                                // Redirect or perform any action after logout
                                window.location.href = "{% url 'main:home' %}"; // Redirect to home page after logout
                            }
                        });
                    });
                }
            });
        });
    </script>

    {% block extra_js %}{% endblock %}
</body>
</html>